<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://symfony.com/schema/dic/services"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>

        <service id="setono_sylius_facebook.data_mapper.composite"
                 class="Setono\SyliusFacebookPlugin\DataMapper\CompositeDataMapper"/>

        <!--
            We have priority 100 just for situation when plugin users
            create another DataMapper which should rewrite some Event data
            So newly created DataMapper with default priority (0)
            should be executed AFTER our DataMappers
        -->
        <service id="setono_sylius_facebook.data_mapper.order"
                 class="Setono\SyliusFacebookPlugin\DataMapper\OrderDataMapper">
            <argument type="service" id="setono_sylius_facebook.formatter.money" />

            <tag name="setono_sylius_facebook.data_mapper" priority="100"/>
        </service>

        <service id="setono_sylius_facebook.data_mapper.orders_user_data"
                 class="Setono\SyliusFacebookPlugin\DataMapper\OrdersUserDataDataMapper">

            <tag name="setono_sylius_facebook.data_mapper" priority="100" />
        </service>

        <service id="setono_sylius_facebook.data_mapper.product"
                 class="Setono\SyliusFacebookPlugin\DataMapper\ProductDataMapper">

            <tag name="setono_sylius_facebook.data_mapper" priority="100" />
        </service>

        <service id="setono_sylius_facebook.data_mapper.request"
                 class="Setono\SyliusFacebookPlugin\DataMapper\RequestDataMapper">
            <argument type="service" id="setono_sylius_facebook.manager.fbc" />
            <argument type="service" id="setono_sylius_facebook.manager.fbp" />

            <tag name="setono_sylius_facebook.data_mapper" priority="100" />
        </service>

        <service id="setono_sylius_facebook.data_mapper.view_category"
                 class="Setono\SyliusFacebookPlugin\DataMapper\ViewCategoryDataMapper">

            <tag name="setono_sylius_facebook.data_mapper" priority="100" />
        </service>

    </services>
</container>
