<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" colors="true"
         bootstrap="tests/Application/config/bootstrap.php">
    <coverage includeUncoveredFiles="true" processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </coverage>
    <testsuites>
        <!-- Unit tests do not need a database (run with the testsuite option set to "unit") -->
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <!-- Functional tests boot the test application and need the test database schema (testsuite option "functional") -->
        <testsuite name="functional">
            <directory>tests/Functional</directory>
        </testsuite>
    </testsuites>
    <extensions>
        <!-- Wraps every test in a database transaction that is rolled back afterwards -->
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
    </extensions>
    <php>
        <env name="APP_ENV" value="test"/>
        <env name="SHELL_VERBOSITY" value="-1"/>
    </php>
</phpunit>
