<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="tests/Application/config/bootstrap.php">
    <testsuites>
        <testsuite name="SetonoSyliusFacebookPlugin Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_CLASS_PATH" value="/tests/Application/AppKernel.php" />
        <server name="IS_DOCTRINE_ORM_SUPPORTED" value="true" />
        <env name="APP_ENV" value="test"/>
        <env name="SHELL_VERBOSITY" value="-1" />
        <env name="FACEBOOK_LIVE" value="0"/> <!-- Set to true and insert a token below to test live requests to Facebook API -->
        <env name="FACEBOOK_PIXEL_ID" value=""/> <!-- Insert your Facebook PIXEL_ID -->
        <env name="FACEBOOK_ACCESS_TOKEN" value=""/> <!-- Insert your Facebook ACCESS_TOKEN -->
        <env name="FACEBOOK_TEST_EVENT_CODE" value=""/> <!-- Insert your Facebook test_event_code (optional) -->
    </php>
</phpunit>
